* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
}

#app {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

button {
  margin: 0;
  padding: 0;
  outline: none;
  border-radius: 0;
  background-color: transparent;
  line-height: inherit;
  width: max-content;
}
button:after {
  border: none;
}

/*取消button点击的默认样式*/
button:focus {
  border: 0 none;
  outline: none !important;
}
